{
    "extends": "standard-with-typescript",
    "parserOptions": {
        "project": "./tsconfig.json",
        "space-before-function-paren": [
            1,
            {
                "anonymous": "never",
                "named": "always"
            }
        ]
    },
    "env": {
        "jest": true
    }
}