{
    "extends": "standard-with-typescript",
    "parserOptions": {
        "project": "./tsconfig.json",
        "space-before-function-paren": {
            "anonymous": "always",
            "named": "never"
        }
    },
    "env": {
        "jest": true
    }
}